<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>WeatherWear</title>
</head>
<body>

    <div th:replace="~{header :: headerFragment}"></div>
    <!-- 중앙 컨텐츠 -->
    <div class="container">
        <h1>WeatherWear</h1>

        <div class="boxes">
            <div class="box" id="weatherBox" th:onclick="|location.href='@{/weather}'|"> </div>

            <div class="box" id="clothingBox" th:onclick="|location.href='@{/outfit}'|">
                <div class="outfit-suggestion">오늘 날씨에 맞는 코디는?</div>
                <span class="material-icons">checkroom</span>
            </div>

        </div>
    </div>
    <script type="module" src="/js/weather.js"></script>
    <script src="/js/menu.js"></script>
</body>
</html>
